[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zzmw-lib = {file = "../zzmw_lib", editable = true}
llama-cpp-python = "*"

[dev-packages]
pylint = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.7"
